@mixin buildFont($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

@mixin breakpoint($class) {
  @if $mobile == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $tablet == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $laptop == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $desktop == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
