.dashboardContainer {
  margin: 20px;
  padding: 0 10px;
  border: 1px solid #ccc;
  width: auto;
  max-width: 600px;
  min-height: 600px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  @include buildFont($sansFont, 16px, black);
}
iframe {
  width: auto;
  max-width: 500px;
  height: auto;
  margin: 10px;
}

.welcomeMsg {
  margin: 15px 0 20px 0;
  @include buildFont($sansFont, 30px, black);
  font-weight: 700;
}

.userQuadrant {
  text-align: center;
}

h2 {
  text-align: center;
  word-wrap: normal;
}

#nameOfUser {
  @include buildFont($sansFont, 30px, $dkOrange);
  font-weight: 700;
}

#quadrantOfUser {
  @include buildFont($sansFont, 30px, $dkOrange);
  font-weight: 700;
}

p #trashPickup {
  @include buildFont($sansFont, 30px, $dkOrange);
  font-weight: 700;
}
