main {
  background-color: #fff;
  display: flex;
  justify-content: center;
  @include buildFont($sansFont, 16px, black);
}

p {
  @include buildFont($sansFont, 16px, black);
  text-align: center;
}

.tagLine {
  display: flex;
  justify-content: center;
  div {
    width: 390px;
    h3 {
      text-align: center;
      word-wrap: normal;
      font-weight: 400;
      @include buildFont($sansFont, 16px, black);
    }
  }
}

.formBox {
  width: auto;
  min-height: 300px;
  margin: 30px 0 30px 0;
  border: 1px solid #cccccc;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  @include buildFont($sansFont, 16px, black);
  #userName {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
  }
  #password {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
  }
  #name {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
  }
  #streetName {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
  }
  #houseNumber {
    border: 1px solid #ccc;
    width: 100%;
    margin: 0;
  }
  button {
    width: 100%;
    margin: 0;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: $dkAqua;
    @include buildFont($sansFont, 18px, white);
  }
}
.inputForm {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  div {
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: $dkAqua;
    }
    input {
      width: 100%;
    }
  }
}
